
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="my_account_area pt--80 pb--55 bg--white">
    <div class="container row justify-content-center">
        <div class="my__account__wrapper col-6">
            <h3 class="account__title">Register</h3>
            <form action="#">
                <div class="account__form">
                    <div class="input__box">
                        <label>Email address <span>*</span></label>
                        <input type="email">
                    </div>
                    <div class="input__box">
                        <label>Password<span>*</span></label>
                        <input type="password">
                    </div>
                    <div class="form__btn">
                        <button>Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

