
@{
    ViewBag.Title = "GioiThieu_ThongTin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<style>
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #388394;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #388394;
        color: white;
    }
</style>
<body>
    <h1>XÂY DỰNG PHẦN MỀM BÁN SÁCH ONLINE LUNABOOK</h1>
    <h2 style="font-size: 20px">SINH VIÊN THỰC HIỆN</h2>
    <table>
        <tr>
            <th>Họ Và Tên</th>
            <th>MSSV</th>
            <th>Lớp</th>
        </tr>
        <tr>
            <td>Võ Thành Luân</td>
            <td>59131333</td>
            <td>59CNTT1</td>
        </tr>
        <tr>
            <td>Cao Quỳnh Anh</td>
            <td>59130033</td>
            <td>59CNTT1</td>
        </tr>
        <tr>
            <td>Nguyễn Tấn Kiệt</td>
            <td>59131111</td>
            <td>59CNTT1</td>
        </tr>
        <tr>
            <td>Nguyễn Đăng Trường Phát</td>
            <td>59131843</td>
            <td>59CNTT1</td>
        </tr>
    </table>
</body>
</html>

