
<aside class="wedget__categories poroduct--cat">
    <h3 class="wedget__title">Danh mục Thể loại</h3>
    <ul>
        @foreach (var category in ViewData["listCategory"] as List<Model.EF.Category>)
        {
            <li><a href="/danh-muc/@category.Url">@category.CategoryName <span>(@category.Books.Count)</span></a></li>
        }
    </ul>
</aside>