
<aside class="wedget__categories poroduct--cat">
    <h3 class="wedget__title"><a href="/danh-muc">Danh mục Thể loại</a></h3>
    <ul>
        @foreach (var category in ViewData["listCategory"] as List<Model.EF.Category>)
        {
            if (category.CategoryName == ViewBag.selectedCate)
            {
                <li><a style="color: red" href="/danh-muc/@category.Url">@category.CategoryName <span>(@category.Books.Count)</span></a></li>
            }
            else
            {
                <li><a href="/danh-muc/@category.Url">@category.CategoryName <span>(@category.Books.Count)</span></a></li>
            }
        }
    </ul>
</aside>