@model PagedList.IPagedList<Model.EF.Book>
@using PagedList.Mvc;

@{
    ViewBag.Title = "DANH MỤC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_Bradcaum");
}

<div class="page-shop-sidebar right--sidebar bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    @{
                        Html.RenderAction("CategorySideBar", "Category");
                    }
                </div>
            </div>
            <div class="col-lg-9 col-12 order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                            @{ 
                                var start = (Model.PageNumber - 1) * Model.PageSize + 1;
                                var count = (Model.PageNumber - 1) * Model.PageSize + Model.Count;
                            }
                            <p>Hiển thị sách @(count == 0? 0 : start) - @(start + Model.Count - 1) trên tổng @count sách</p>
                            <div class="orderby__wrapper">
                                <span>Sắp xếp theo</span>
                                <select class="shot__byselect">
                                    <option>Mới nhất</option>
                                    <option>Giá từ thấp đến cao</option>
                                    <option>Giá từ cao đến thấp</option>
                                    <option>Bán chạy</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab__container">
                    <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                        <div class="row">
                            @foreach (var book in Model)
                            {
                                Html.RenderAction("BookCard", "Book", new { enity = book });
                            }
                        </div>
                        @Html.PagedListPager(Model,
                            page => Url.Action("Index", new { page = page }),
                            new PagedListRenderOptions {
                                UlElementClasses = new string[] { "wn__pagination" },
                                LiElementClasses = new string[] { "page-item" },
                            })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/assets/client/js/controller/bookController.js"></script>
}
