@{ ViewBag.Title = "Home";
                Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }

<h1>XÂY DỰNG PHẦN MỀM BÁN SÁCH ONLINE LUNABOOK</h1>
<h2 class="text-center">SINH VIÊN THỰC HIỆN</h2>

<div class="row">
    <div class="info-card-container col-md-3">
        <div class="info-card">
            <div class="info-name">Võ Thành Luân</div>
            <div class="mssv">59131333</div>
            <div class="des">
                Làm hết tất cả
            </div>
        </div>
    </div>
    <div class="info-card-container col-md-3">
        <div class="info-card">
            <div class="info-name">Nguyễn Đăng Trường Phát</div>
            <div class="mssv">59131843</div>
            <div class="des">

            </div>
        </div>
    </div>
    <div class="info-card-container col-md-3">
        <div class="info-card">
            <div class="info-name">Nguyễn Tấn Kiệt</div>
            <div class="mssv">59131111</div>
            <div class="des">

            </div>
        </div>
    </div>
    <div class="info-card-container col-md-3">
        <div class="info-card">
            <div class="info-name">Cao Quỳnh Anh</div>
            <div class="mssv">59130033</div>
            <div class="des">

            </div>
        </div>
    </div>
</div>