<div class="brown--color box-search-content search_active block-bg close__top">
    @using (Html.BeginForm("Index", "Category", FormMethod.Get, new { @id = "search_mini_form", @class = "minisearch" }))
    {
        <div class="field__search">
            <input class="txtSearch" name="searchString" type="text" placeholder="Tìm kiếm sách của bạn ngay tại đây" autocomplete="on">
            <div class="action">
                <button type="submit"><i class="zmdi zmdi-search"></i></button>
            </div>
        </div>
    }
    <div class="close__wrap">
        <span>Đóng</span>
    </div>
</div>
