<a class="setting__active" href="#"></a>
<div class="searchbar__content setting__block">
    <div class="content-inner">
        <div class="switcher-currency">
            <strong class="label switcher-label">
                <span>My Account</span>
            </strong>
            <div class="switcher-options">
                <div class="switcher-currency-trigger">
                    <div class="setting__menu">
                        <span><a href="#">Đăng Nhập</a></span>
                        <span><a href="#">Tạo Tài Khoản</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
