@{ 
    var cart = Session["CartSession"];
    var list = new List<BookStoreOnline.Models.CartItem>();
    if (cart != null)
    {
        list = (List<BookStoreOnline.Models.CartItem>)cart;
    }

    var total = 0;

    foreach (var item in list)
    {
        total += item.book.Price * (100 - item.book.DiscountPercent) / 100 * item.Quantity;
    }
}

<a class="cartbox_active" href="#"><span class="product_qun"><span class="cart-float-count">@list.Count</span></span></a>

<div class="block-minicart minicart__active">
    <div class="minicart-content-wrapper" id="cart-float-expand">
        @{
            Html.RenderPartial("~/Views/Cart/CartFloatExpand.cshtml");
        }
    </div>
</div>